p {
    color: rgb(255, 255, 255);
    font-size: 17px;
}
.dr {
    font-style: italic;
}
.df {
    color: rgb(99, 230, 48);
}
.fg{
    color: red;
}
td {
    font-size: 20px;
}
th {
    font-size: 25px;
}
body {
    background: url(h.jpg) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}
h2 {
    color:rgb(255, 255, 255);
}
caption {
    color:rgb(99, 230, 48);
    font-size: 40px;
}
.hj {
    font-size: 30px;
    color: blueviolet;
}
input[type=text]{
    background: linear-gradient(to right, rgb(135, 226, 214), rgb(255, 255, 255));
}
input[type="text"]{
    color: rgb(255, 255, 255);
}
